@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

/*screen_out*/
.ir {
  position: absolute;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}

/* reset*/
body, main, section, div,
h1,h2,
ul, li, 
strong, span,
input, button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Noto Sans KR', sans-serif;
  font-size: 9px;
  font-weight: 500;

}

ul {
  list-style: none;
}

input{
  border: none;
}

button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}

strong, span{
  display: block;
}

/* 시작 */
body{
  background: #EAE8FE;
}

.main{
  padding: 247px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0 28px;
}

.main__logo {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  
  width: 100%;
  max-width: 386px;
  height: 180px;

  background-image: url("./images/Logo.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header__img {
  width: 100%;
  max-width: 386px;
}

/* 1 screen */
.screen{
  padding: 31px 27px 28px;
  width: 360px;
  height: 545px;
  
  background-color: #fff;
}

.screen__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  gap: 12px;
}

.screen__item{
  position: relative;

  z-index: 10;
}

.screen--sold-out{
  pointer-events: none;
}

.screen--sold-out::after{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";

  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("./images/sold-out.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.screen__item-btn{
  padding: 11px 11px 9px 13px;
  width: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.screen__item-btn:active{
  outline: 3px solid #6327FE ;
  border-radius: 10px;
}

.screen__item-img{
  width: 36px;
}

.screen__name{
  margin: 6px 0 7px;

  color: #333333;
  line-height: 1.444444444444444;
}

.screen__price{
  padding: 5px 15px;

  background-color: #6327FE;
  border-radius: 50px;

  color: #fff;
  font-size: 12px;
  line-height: 1;
}

/* screen - counter */
.counter{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11px 12px;
}

.counter__user{
  padding: 6px 10px 7px;
  grid-column: 1/3;
  height:33px;

  background-color: #EAE8FE;
  border-radius: 5px;

  font-size: 14px;
}

.counter__balance{
  float: right;
  

  font-size: 14px;
}

.counter__return-btn{
  height:33px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 13px;
}

.counter__deposit{
  padding: 6px 0 8px 6px;
  grid-column: 1/3;
  height:33px;

  border: 1px solid #BDBDBD;
  border-radius: 5px;

  color: #BDBDBD;
  font-size: 13px;
}

.counter__deposit-btn{
  font-size: 13px;
  height:33px;

  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* 2 money */
.money{
  padding: 9px 27px;
  margin-bottom: 20px;
  width: 360px;
  height: 50px;

  background-color: #fff;
}

.money__user{
  margin: 0 auto;
  padding: 0 10px;
  
  width: 306px;
  height: 32px;
  
  background-color: #EAE8FE;
  border-radius: 5px;

  text-align: left;
  font-size: 14px;
  line-height: 32px;
}

.money__balance{
  float: right;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.cart{
  padding: 12px 18px 0 12px;
  height: 106px;
  grid-column: 1/3;
  overflow: scroll;

  background-color: #EAE8FE;
  border: 1px solid #BDBDBD ;
  border-radius: 5px;
}

.cart__list + li{
  margin-top: 6px;
}

.cart__btn{
  padding: 6px 8px 7px 10px;
  width: 100%;
  border-radius: 5px;

}

.cart__item-img{
  margin-right: 10px;
  float: left;
  width: 18px;
}

.cart__name{
  float: left;
  transform: translateY(50%);

  color: #333333;
}

.cart__quantity{
  padding-top: 4px;
  float: right;
  width: 30px;
  height: 30px;
  
  border: 1px solid #BDBDBD;
  border-radius: 5px;

  font-size: 14px;
  vertical-align: middle;
}

.counter__get-btn{
  grid-column: 3/4;

  background-color: #6327FE;
  border-radius: 5px;

  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

/* 3 earned */
.earned{
  padding: 25px 27px 26px;
  width: 360px;
  height: 474px;

  background-color: #fff;
}

.earned__title{
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.cart--size{
  height: 364px;
}

.earned__total{
  margin-top: 6px;
  
  float: right;
  font-size: 12px;
}

.earned__balance{
  margin-left: 3px;
  float: right;
  font-size: inherit;
}

@media screen and (min-device-width: 414px) and (max-device-width: 390px){
  body{
    background-color: #fff;
  }

  .main{
    padding-top: 65px;
  }

  .main__logo {
    max-width: 166px;
    height: 100%;
    max-height: 71.12px;
  }
}