@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

* {
    box-sizing: border-box;
}

body,
h1,
ul,
ol,
button {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
}

body {
    background-color: #000;
}

.vending-machine {
    margin-top: 247px;
    padding: 31px 27px 24px;
    /* position: relative; */
    /* margin: 0 auto; */
    width: 360px;

    background-color: #fff;

    /* overflow: hidden; */
}
.title-logo {
    position: absolute;
    /* position: fixed; */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.img-logo {
    width: 386px;
}

/*section: screen-drinks*/
.items-cola {
    margin-bottom: 12px;

    width: 94px;
    border: 3px solid #6327fe;
    border-radius: 10px;

    text-align: center; /*왜 안먹히지 */

    float: left;
}

.items-cola:nth-child(2),
.items-cola:nth-child(5) {
    margin: 0 12px;
}

.items-cola img {
    margin: 11px 29px 6px;
}

.items-cola span {
    margin: 0 10px 7px 11px;
    /*text-align: center; 왜 여기서 안 먹히고 .items-cola에 줘야 먹히지..? 당연함. 여기선 center 정렬해도 정렬할 공간이 span이 가진 크기밖에 없거덩 */

    font-size: 9px;
    font-weight: 500;
    line-height: 1.444444444444444;
}

.items-cola button {
    margin: 0 11px 9px 13px;
    width: 70px;
    border: none;
    color: #fff;
    background: #6327fe;
    border-radius: 50px;

    font-weight: 500;
    font-size: 12px;
    /* line-height: 1; ????*/
}

.calculating-zone {
    margin-top: 8px; /*마진 병합이 일어나는 것 같다...*/
}

.balance-money {
    float: left;
    width: 200px;
    clear: left;
    margin-right: 12px;

    border-radius: 5px;
    background-color: #eae8fe;

    font-size: 14px;
    line-height: 1.447857142857143;
    font-weight: 500;
}

.balance-money span {
    display: inline-block;
    margin: 6px 0 7px 10px;
}

.balance-money span:nth-child(1) {
    float: left;
}

.balance-money span:nth-child(2) {
    float: right;
    padding-right: 10px;
}

.button-return {
    float: right;
}

.button-return button {
    width: 94px;
    padding: 6px 9px 8px 9px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-size: 13px;
    font-weight: 500;
    line-height: 1.461538461538462;
}
