@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

/* 폰트 적용할 때 *{}에 넣는 게 나은지, reset 안에 넣는 게 나은지(해당 프로젝트 폰트가 하나밖에 없다는 전제하에)
외부폰트 사용할 때, html 안에 넣는 게 나은지, css파일에 임포트 하는 것이 나은지? */

/* reset */
body,
ul,
button,
h1,
h2,
input,
strong,
span,
section,
article {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

ul {
    list-style: none;
}

button,
input {
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

/*screen_out*/
.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999px;
}

/**/
body {
    background-color: #eae8fe;
}

header {
    text-align: center;
}

header img {
    width: 386px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

/* user-screen */
.user-screen {
    /* margin-right: 28px; */
    padding: 31px 27px 28px;
    width: 360px;

    background-color: #fff;
}

.user-screen__item-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.user-screen__item-list li:active {
    outline: 3px solid #6327fe;
    border-radius: 10px;
}

.user-screen__select-button {
    display: flex;
    padding: 11px 11px 9px 13px;
    width: 94px;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.user-screen__select-button img {
    margin-bottom: 6px;
}

.user-screen__select-button strong:nth-child(2) {
    margin-bottom: 7px;

    color: #333333;
    font-size: 9px;
    line-height: 1.444444444444444;
}

.user-screen__select-button strong:last-child {
    padding: 5px 16px 5px 15px;
    width: 100%;

    color: #fff;
    font-size: 12px;
    line-height: 1;

    border-radius: 50px;
    background-color: #6327fe;
}

.user-screen__calculating > strong {
    margin-bottom: 11px;
    display: inline-block;
    padding: 6px 10px 7px 10px;
    width: 200px;

    font-size: 14px;
    border-radius: 5px;
    background-color: #eae8fe;
}

.user-screen__calculating > strong span {
    float: right;
}

/* button module */
.user-screen__button {
    /* 피그마는 11px인데.. 11주면 레이아웃이 깨짐.. */
    margin-bottom: 10px;
    padding: 6px 9px 8px 9px;
    float: right;
    width: 94px;

    font-size: 13px;
    line-height: 1.461538461538462;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.user-screen__input-deposit {
    margin-bottom: 10px;
    padding: 6px 0 8px 6px;
    width: 200px;

    color: #bdbdbd;
    font-size: 13px;
    line-height: 1.461538461538462;

    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

/* .user-screen__selected-list { */
ul[class$="selected-list"] {
    display: inline-block;
    padding: 12px 18px 0 12px;
    width: 200px;
    height: 106px;

    overflow: scroll;

    background-color: #eae8fe;

    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

/* .user-screen__selected-item { */
li[class$="selected-item"] {
    padding: 6px 8px 10px 7px;
    width: 100%;

    background-color: #fff;
    border-radius: 5px;
}

li[class$="selected-item"] + li {
    margin-top: 6px;
}

/* .user-screen__selected-item-button { */
button[class$="selected-item-button"] {
    width: 100%;
}

img[class$="item-img"] {
    float: left;
    width: 18px;
}

strong[class$="item-name"] {
    color: #333333;
    font-size: 9px;
    line-height: 36px;
}
strong[class$="item-quantity"] {
    float: right;
    display: block;
    width: 30px;
    height: 30px;

    border: 1px solid #bdbdbd;
    border-radius: 5px;

    font-size: 14px;
    line-height: 10px;
}

.user-screen__get-button {
    float: right;
    width: 94px;
    height: 106px;

    color: #fff;
    font-weight: 700;
    font-size: 13px;

    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: #6327fe;
}

/* user-info */
.user-info {
    /* float: right; */
    margin-bottom: 20px;
    padding: 9px 27px;
    width: 360px;
    background-color: #fff;
}

.user-info__money {
    padding: 6px 10px;
    display: block;
    width: 100%;

    border-radius: 5px;
    background-color: #eae8fe;
}

.user-info__money span {
    float: right;
}

/* user-earn  */
.user-earn {
    padding: 25px 27px 52px;
    width: 360px;
    background-color: #fff;
}

.user-earn h2 {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428571428571429;
}

.user-earn .user-earn__selected-list {
    margin: 13px 0 6px;
    display: block;
    width: 100%;
    height: 364px;
}

.user-earn__total {
    float: right;
    display: block;

    font-size: 12px;
    line-height: 1.416666666666667;
}

/* module */
.sold-out::after {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 100;
}
